<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href = "{% static 'show.css' %}">
    <title>Show Data</title>
</head>
<body>
    {{msg}}
    <h1 id="head">SHOW ALL EMPLOYEES INFORMATION </h1>
    <div>
        <form action="/">
            <input type="Submit" value="<<Back" id= "btn">
        </form>
    </div>
    <div id="OneDiv">
        <table style="width:80%" >
            <thead>
                <th> EMPLOYEE_ID</th>
                <th>EMAIL_ID</th>
                <th>AGE</th>
                <th>OCCUPATION</th>
                <th>Buttons</th>
             </thead>
            {% for d in data %}
            <tr>
                <td>{{d.EMPLOYEE_ID}} </td>
                <td>{{d.EMAIL_ID}} </td>
                <td>{{d.AGE}} </td>
                <td>{{d.OCCUPATION}} </td>
                <td>
                    <a href="/edit?id={{d.EMPLOYEE_ID}}">Edit</a>
                    <a href="/delete?id={{d.EMPLOYEE_ID}}">Delete</a>
                </td>
            </tr>    
            {% endfor %}
        </table>
    </div>

</body>
</html>